$color_prime: #15F5BA;
$color_prime_hover: lighten($color_prime, 2);
$color_dark: #211951;
$color_dark_hover: lighten($color_dark, 0.8);
$color_light: #F0F3FF;

$color_text: $color_light;
$color_text_2nd: black;
$color_text_2nd_hover: lighten($color_dark, 30);
$color_background: #0d0b19;
$color_background_2nd: $color_light;


.text {
    &-link {
        color: $color_prime;

        &:hover {
            color: $color_prime_hover;
        }

        &-2nd {
            color: $color_text_2nd;

            &:hover {
                color: $color_prime;
            }
        }
    }

    &-justify {
        text-align: justify;
    }
}

.flexCentralizer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.allunset {
    all: unset;
}

.textJustify {
    text-align: justify;
}


// --------------------------{ Buttons
.button {
    max-width: 210px;
    padding: 10px 30px;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.25s;
    @extend .flexCentralizer;

    &:active {
        outline: 1px solid rgba($color_background_2nd, 0.5) !important;
    }

    &-classic {
        border: 1px solid $color_text_2nd;
        color: $color_text_2nd;
        background-color: $color_prime;

        &:hover {
            background-color: $color_prime_hover;
            box-shadow: 0 0 10px 0 rgba($color_prime, 0.5);
        }
    }

    &-outline {
        border: 1px solid $color_background_2nd;
        color: $color_prime;
        background-color: transparent;

        &:hover {
            background-color: rgba($color_background_2nd, 0.2);
            box-shadow: 0 0 10px 0 rgba($color_prime, 0.5);
        }
    }

    &-arrow {
        color: $color_dark;
        border: 1px solid $color_dark;

        i {
            padding-left: 5px;
        }

        &:hover {
            color: $color_dark_hover;
            border-color: $color_dark_hover;

            i {
                transform: translateX(10px)
            }
        }
    }
}

// --------------------------{ field
.field {
    all: unset;
    color: $color_text_2nd;
    width: calc(100% - 42px);
    padding: 12px 20px;
    border: 1px solid $color_background;
    background-color: transparent;
    text-align: start;

    &::placeholder {
        color: rgba($color_text_2nd, 0.5);
        opacity: 1;
        transition: 0.15s;
    }

    &:focus,
    &:focus-within {
        &::placeholder {
            opacity: 0
        }
    }
}

// --------------------------{ Font
@import url('https://fonts.cdnfonts.com/css/poppins');
@import url('https://fonts.cdnfonts.com/css/didot-2');