.qard {
    border-radius: 0;
    overflow: hidden;
    background-color: $color_background_2nd;

    img {
        width: 100%;
        height: 290px;
        object-fit: cover;
        object-position: center;
    }

    h2 {
        font-size: 1em;
        color: $color_text_2nd;
    }

    span {

        &:first-child {
            color: $color_text;
            mix-blend-mode: difference;
            font-weight: 800;

        }

        &:last-child {
            color: darken($color_prime, 10);
            font-size: 0.8em;
        }
    }

    hr {
        margin: 10px 0;
        border-color: $color_background_2nd;
    }

    &:hover {
        transform: translateY(10px);
        background-color: rgba($color_background_2nd, 0.2);

        h2 {
            color: $color_prime;
        }
    }
}