.details {
    .gallery {

        &-thumb {
            max-height: 100%;

            img {
                width: 75px;

                max-height: 100px;
                object-fit: cover;
                object-position: center;

                &:not(:first-child) {
                    margin-top: 3%;
                }
            }
        }

        &-main {
            img {
                width: 100%;
                height: 600px;
                object-fit: cover;
                object-position: center;
            }
        }
    }

    &-content {
        h2 {
            font-size: 3rem;
            display: flex;
            align-items: center;

            del {
                font-size: 2rem;
                color: rgba($color_text, 0.5);
            }

            span {
                font-size: 1.5rem;
                margin-left: 10px;
                padding: 5px 20px;
                color: $color_dark;
                background-color: $color_prime;
            }
        }

        .rate {
            color: $color_prime;
            font-size: 1.5rem;
        }

        .sizes {
            display: flex;

            label {
                margin-right: 5px;

                button {
                    all: unset;
                    display: block;
                    height: 30px;
                    padding: 10px 20px;
                    color: $color_text;
                    border: 1px solid $color_text;
                    transition: 0.2s;

                    &:hover {
                        box-shadow: 0 0 5px 0 $color_prime;
                    }
                }

                input {
                    display: none;

                    &:checked {
                        ~button {
                            color: $color_text_2nd;
                            border-color: transparent;
                            background-color: $color_prime;
                        }
                    }
                }
            }
        }

        .colors {
            display: flex;

            label {
                margin-right: 5px;

                button {
                    all: unset;
                    display: block;
                    height: 30px;
                    padding: 10px 20px;
                    color: $color_text;
                    border: 1px solid $color_text;
                    background-color: rgba($color_background_2nd, 0.2);
                    transition: 0.2s;

                    &:hover {
                        box-shadow: 0 0 5px 0 $color_prime;
                    }
                }

                input {
                    display: none;

                    &:checked {
                        ~button {
                            color: $color_text_2nd;
                            border-color: transparent;
                            background-color: $color_prime;
                        }
                    }
                }
            }
        }

        .addToCart {
            display: flex;
            align-items: center;

            button {
                &:not(:last-child) {
                    padding: 10px;
                    border: 1px solid $color_prime;
                }

                &:last-child {
                    width: 300px;
                    margin-left: 5px;
                    height: 100%;
                    border: 1px solid $color_prime;

                }
            }

            span {
                width: 50px;
                color: $color_prime;
                border: 1px solid $color_prime;
                padding: 10px;
            }
        }
    }
}

.discribtion {
    h4 {
        font-family: "Didot", sans-serif;
    }

    .allDetails {
        padding: 0;
        margin: 0;

        li {
            display: flex;
            align-items: center;
            justify-content: space-between;

            span {
                &:first-child {
                    font-weight: 700;
                }

                &:last-child {
                    color: $color_prime;
                }
            }
        }
    }

    .brand {
        img {
            &:first-child {
                mix-blend-mode: difference;
            }
        }
    }
}